@font-face
{
  font-family: VolvoBroadPro;
  src: url("../fonts/VolvoBroadOutlineLarge.otf") format("opentype");
  font-stretch: semi-expanded;
}

h1 {
  font-family: VolvoBroadPro;
  font-size: 15rem;
}
